.button {
    display: inline-block;
    border-radius: 0.4rem;
    font-weight: var(--font-normal);
    font-size: var(--smaller-font-size);
    background-color: var(--body-color);
}

.button-primary {
    background-color: var(--title-color);
    width: 4.5rem;
    color: var(--container-color);
}

.button-primary:hover, .button-search:hover {
    background-color: var(--title-color-dark);
}

.button-secondary {
    width: 4.5rem;
}

.button-secondary:hover {
    font-weight: var(--font-semi-bold);
}

.button-search {
    width: 8rem;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: .75rem 0;
}

.button-chevron {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    border-radius: 0;
    text-align: center;
}